In [1]:
import numpy as geek
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/Users/vn04q89/Documents/Luigi/projects/Coursera/MathematicsForML/deep_learning/data/titanic-train.csv')

df.head() nos muestra el contenido de las primeras 5 filas del archivo

In [ ]:
df.head()

df.info() nos muestra un resumen de todos nuestros features (columnas, caracteristicas de nuestros datos)
asi como el numero de  celdas que tienenun valor diferente de null.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

df.describe() nos describe diferentes valores estadisticos que nuestra informaci√≥n tiene.

In [ ]:
df.describe()